@model List<ArtistViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in Model)
            {
            <tr>
                <td>@artist.Name</td>
                <td>@artist.Country</td>
            </tr>
            }
        </tbody>
    </table>
    
    
</div>